.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  .mat-toolbar {
    background: inherit;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color:black;
}

.logo{
font-size:30px;
}

.nav-link{
color:aliceblue !important;
}